body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back_main {
    padding: 40px 0 30px ;
    color: black;
}

.back_main a {
    color: black;
}

#accordion {
    width: 100%;
}

.buttons {
    color: black;
    font-size: 16px;
    background-color: rgb(162, 192, 248);
}

.btn {
    color: black;
}